<!-- Entete.cshtml -->
<body>
<header>
   
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN">
    <h1>@ViewBag.HeaderTitle</h1> <!-- Utilisation de ViewBag pour un titre dynamique -->
</header>

<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/Home/Index/Form">Formulaire</a></li>
        <li><a href="/Home/Index/AvisList">Liste des avis</a></li>
    </ul>
</nav>
</body>